<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon1.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon1.ico" type="image/ico" />


    <title>@ViewData["Title"] - LOAL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/voseoIndex.css">
    <link rel="stylesheet" href="~/css/kaizenIndex.css">
    <link rel="stylesheet" href="~/css/signature-pad.css">
    <link rel="stylesheet" href="~/LinePatrol.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container-loading">
        <div class="loader-container">
            <div class="loader-line"></div>
        </div>

        <div class="conatiner-loading-spinner">
            <div class="spinner"></div>
        </div>

    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Tarea" asp-action="Index"><p>LOAL</p> <img src="~/images/general/a.png" alt="images" width="20" height="20" srcset=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tarea"
                                asp-action="Index">Line patrol</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tarea"
                                asp-action="GuardarCambios">Registrar</a>
                        </li> *@
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Voceo"
                                asp-action="Index">Voceos</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Estandar"
                                asp-action="Index">Estándar</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kaizen"
                                asp-action="Index">Kaizen</a>
                        </li>
                         @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cmd"
                                asp-action="Index">Cmd</a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ClipBoard"
                                asp-action="Index">ClipBoard</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ChecadoresStatus"
                                asp-action="Index">Checadores</a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container movil">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - LinePatrol - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    <script src="~/lib/swal-alert/sweetalert2.all.min.js" defer></script>
    <script src="~/lib/chart/chart.js" defer></script>
    @* <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" defer></script> *@
    <script src="~/lib/chart/plugin-datalabels.js" defer></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
