@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/reporteGeneradorIndex.css" />
}

<div class="card movil">
    <div class="card-header">
        Reporte de generador
    </div>
    <div class="card-body">


        <form class="loal-form" id="formReporteGenerador">
            <div class="loal-container-form">
                <div class="mb-2">
                    <label class="form-label">Numero de reloj</label>
                    <input type="text" class="form-control form-control-sm" name="reloj"
                        placeholder="Ingrese numero de reloj">
                </div>




                <div class="container-inputs-file mb-2">
                    <label class="form-label">Horas trabajadas</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileHorasTrabajadas"
                        type="file" name="imagen_horas_trabajadas" accept="image/*">
                    <button type="button" class="form-control form-control-sm"
                        id="btnChangeInputFileImageHorasTrabajadas"></button>
                    <a href="#" id="linkInfoImagenSelectedHoras" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>

                <div class="container-inputs-file mb-2">
                    <label class="form-label">Status de bateria</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileImageStatusBateria"
                        type="file" name="imagen_status_bateria" accept="image/*">
                    <button type="button" class="form-control form-control-sm"
                        id="btnChangeInputFileImageStatusBateria"></button>
                    <a href="#" id="linkInfoImagenSelectedBateria" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>

                <div class="container-inputs-file mb-2">
                    <label class="form-label">Nivel anticongelante</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileNivelAnticongelante" type="file"
                        name="imagen_nivel_anticongelante" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImageNivelAnticongelante"></button>
                    <a href="#" id="linkInfoImagenSelectedAnticongelante" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>
                <div class="container-inputs-file mb-2">
                    <label class="form-label">Nivel diesel</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileNivelDiesel" type="file"
                        name="imagen_nivel_diesel" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImageNivelDiesel"></button>
                    <a href="#" id="linkInfoImagenSelectedDiesel" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>
                <div class="container-inputs-file mb-2">
                    <label class="form-label">Nivel aceite</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileNivelAceite" type="file"
                        name="imagen_nivel_aceite" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImageNivelAceite"></button>
                    <a href="#" id="linkInfoImagenSelectedAceite" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>

                <div class="mb-2">
                    <label class="form-label">Observación</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Ingrese comentarios" id="floatingTextarea2"
                            style="height: 100px" name="comentario"></textarea>
                        <label for="floatingTextarea2">Comentario u observación</label>
                    </div>
                </div>

            </div>
            <hr>

            <div class="container-buttons">
                <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                <a asp-action="Index" asp-controller="LinePatrol" class="btn btn-primary btn-sm">Cancelar</a>
            </div>

        </form>




    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen seleccionada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="imagenSeleccionada" src="#" alt="Imagen seleccionada" style="max-width:100%;">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/reporteGeneradorIndex.js" type='module'></script>
}