@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/reporteGeneradorIndex.css" />
}
<style>
    

    /** FIN ESTILOS PARA LINK INFO IMAGE FILE*/
</style>

<div class="card movil">
    <div class="card-header">
        Reporte de generador
    </div>
    <div class="card-body">


        <form class="form-line-patrol">
            <div class="container-formLP">
                <div class="mb-2">
                    <label class="form-label">Numero de reloj</label>
                    <input type="text" class="form-control form-control-sm" name="responsable"
                        placeholder="Ingrese numero de reloj">
                </div>




                <div class="container-inputs-file mb-2">
                    <label class="form-label">Horas trabajadas</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileHorasTrabajadas"
                        type="file" name="imagen" accept="image/*">
                    <button type="button" class="form-control form-control-sm"
                        id="btnChangeInputFileImageHorasTrabajadas"></button>
                    <a href="#" id="linkInfoImagenSelectedHoras" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>

                <div class="container-inputs-file mb-2">
                    <label class="form-label">Status de bateria</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileImageStatusBateria"
                        type="file" name="imagen" accept="image/*">
                    <button type="button" class="form-control form-control-sm"
                        id="btnChangeInputFileImageStatusBateria"></button>
                    <a href="#" id="linkInfoImagenSelectedBateria" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>

                <div class="container-inputs-file mb-2">
                    <label class="form-label">Nivel anticongelante</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileNivelAnticongelante" type="file"
                        name="imagen" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImageNivelAnticongelante"></button>
                    <a href="#" id="linkInfoImagenSelectedAnticongelante" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>
                <div class="container-inputs-file mb-2">
                    <label class="form-label">Nivel diesel</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileNivelDiesel" type="file"
                        name="imagen" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImageNivelDiesel"></button>
                    <a href="#" id="linkInfoImagenSelectedDiesel" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>
                <div class="container-inputs-file mb-2">
                    <label class="form-label">Nivel aceite</label>
                    <input style="display: none;" class="form-control form-control-sm" id="inputFileNivelAceite" type="file"
                        name="imagen" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImageNivelAceite"></button>
                    <a href="#" id="linkInfoImagenSelectedAceite" class="loal-ocultar-o-mostrar"
                        class="btn-link text-success text-decoration-underline small"></a>
                </div>

                <div class="mb-2">
                    <label class="form-label">Observación</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Ingrese comentarios" id="floatingTextarea2"
                            style="height: 100px" name="comentario"></textarea>
                        <label for="floatingTextarea2">Comentario u observación</label>
                    </div>
                </div>

            </div>
            <hr>

            <div class="container-buttons">
                <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                <a asp-action="Index" asp-controller="LinePatrol" class="btn btn-primary btn-sm">Cancelar</a>
            </div>

        </form>




    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen seleccionada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="imagenSeleccionada" src="#" alt="Imagen seleccionada" style="max-width:100%;">
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { $ } from "/js/utils.js";

    // ? EVENTO CLICK EN CONTAINER DE FORM
    $('.container-formLP').addEventListener("click", (e) => {
        const target = e.target;

        // Mapeamos los botones a sus inputs correspondientes
        const buttonToInputMap = {
            'btnChangeInputFileImageHorasTrabajadas': '#inputFileHorasTrabajadas',
            'btnChangeInputFileImageStatusBateria': '#inputFileImageStatusBateria',
            'btnChangeInputFileImageNivelAnticongelante':'#inputFileNivelAnticongelante',
            'btnChangeInputFileImageNivelDiesel':'#inputFileNivelDiesel',
            'btnChangeInputFileImageNivelAceite':'#inputFileNivelAceite',
        };

        // Verificamos si el clic fue en un botón que está en el mapeo
        if (target.tagName === 'BUTTON' && buttonToInputMap[target.id]) {
            $(buttonToInputMap[target.id]).click(); // Simulamos clic en el input file correspondiente
        }
    })

    // Objetos para almacenar las URLs de las imágenes seleccionadas
const imageUrls = {};

// Función para manejar el evento change de un input file de manera dinámica
function handleFileInputChange(inputId, linkId, key) {
    $(inputId).addEventListener("change", (e) => {
        const file = e.target.files[0];
        const link = $(linkId);
        
        // Ocultamos el link inicialmente
        //link.style.display = 'none';
         link.classList.add("loal-ocultar-o-mostrar");
        // Si hay un archivo seleccionado, guardamos la URL y mostramos el link
        if (file) {
            const imageURL = URL.createObjectURL(file);
            $('#imagenSeleccionada').src = imageURL;
            const modal = new bootstrap.Modal($('#exampleModal'));
            modal.show();
            imageUrls[key] = imageURL; // Guardamos la URL de la imagen seleccionada
           // link.style.display = 'flex'; // Mostramos el link
            link.classList.toggle("loal-ocultar-o-mostrar");
        }
    });

    // Evento click en el link para mostrar la imagen seleccionada en el modal
    $(linkId).addEventListener("click", (e) => {
        e.preventDefault(); // Prevenir el comportamiento por defecto del enlace

        // Si existe una imagen guardada, la mostramos en el modal
        if (imageUrls[key]) {
            $('#imagenSeleccionada').src = imageUrls[key];
            const modal = new bootstrap.Modal($('#exampleModal'));
            modal.show();
        }
    });
}

    // Configuramos los listeners para cada input file con sus parámetros dinámicos
    handleFileInputChange('#inputFileHorasTrabajadas', '#linkInfoImagenSelectedHoras', 'horas');
    handleFileInputChange('#inputFileImageStatusBateria', '#linkInfoImagenSelectedBateria', 'bateria');
    handleFileInputChange('#inputFileNivelAnticongelante', '#linkInfoImagenSelectedAnticongelante', 'anticongelante');
    handleFileInputChange('#inputFileNivelDiesel', '#linkInfoImagenSelectedDiesel', 'diesel');
    handleFileInputChange('#inputFileNivelAceite', '#linkInfoImagenSelectedAceite', 'aceite');



    // ? IMAGEN HORAS TRABAJADAS
    @* $('#btnChangeInputFileImage').addEventListener('click', () => $('#formFileSm').click());
        $('#formFileSm').addEventListener("change", (e) => {
        const file = e.target.files[0];
        $('#linkInfoImagenSelected').style.display = 'none';
        if (file) {
        $('#linkInfoImagenSelected').style.display = 'flex';
        const imageURL = URL.createObjectURL(file);
        $('#imagenSeleccionada').src = imageURL;
        const modal = new bootstrap.Modal($('#exampleModal'));
        modal.show();
        }
        }) *@
        // ? IMAGEN STATUS BATERIA
        @* $('#btnChangeInputFileImageStatusBateria').addEventListener('click', () => $('#inputFileImageStatusBateria').click());
        $('#inputFileImageStatusBateria').addEventListener("change", (e) => {
        const file = e.target.files[0];
        $('#linkInfoImagenSelectedImageStatusBateria').style.display = 'none';
        if (file) {
        $('#linkInfoImagenSelectedImageStatusBateria').style.display = 'flex';
        const imageURL = URL.createObjectURL(file);
        $('#imagenSeleccionada').src = imageURL;
        const modal = new bootstrap.Modal($('#exampleModal'));
        modal.show();
        }
        }) *@




</script>