@{
    ViewData["Title"] = "Checador";
}

@section Styles {
    <link rel="stylesheet" href="~/css/checadorIndex.css" />
}
   
   <div class="app">
    <div class="container-app">
            <div class="checador">
                <h4>CONTEC SINALOA</h4>
                <time id="clock" datetime="2025-02-02T21:00:49-07:00">06:29:09 PM</time>
                <input 
                    id="numberInput" 
                    class="input-numero-relog" 
                    type="text" 
                    aria-label="Entrada de número"
                    autocomplete="off"
                    spellcheck="false"
                    data-lpignore="true"
                    name="hidden"
                >
                <div id="inputDisplay" class="input-display" role="status"></div>
                <div id="cumpleanosMensaje" class="input-display" role="alert"></div>
            </div>
            <div class="estadisticas">
                <div class="grafica">
                <canvas id="personnelChart" width="300" height="300"></canvas>
                </div>
            </div>
    </div>
</div>
   
   @section Scripts {
       <script src="~/js/checadorIndex.js"></script>
   }