<style>
  .card.movil.signature {
    max-width: 730px;
    margin: auto;
    height: 750px;
  }

  .btn-actions {
    background-color: var(--ColorPrincipal);
    outline: none;
    border: 1px solid black;
  }

  label {
    font-size: 1rem;
  }
</style>

@{
  ViewData["Title"] = "Index";
}

<div class="card movil signature">
  <div class="card-header">
    <h5>Acuerdo del Usuario Final de Políticas Sistemas de Información</h5>

  </div>
  <div class="card-body">

    <div id="signature-pad" class="signature-pad">
      <form id="formConsultarVoseos">
        <h5 style="color: #1A282F;">Firma de conformidad</h5>
        <div class="container-form-cv">

          <div class="mb-2">
            <label class="form-label">Nombre</label>
            <input type="text" name="fecha1" class="form-control form-control-sm" id="fecha1">
          </div>
          <div class="mb-2">
            <label class="form-label">Apellido(s)</label>
            <input type="text" name="fecha2" class="form-control form-control-sm" name="fecha2" id="fecha2">
          </div>


          <div class="mb-2">
            <label class="form-label">Departamento</label>
            <input type="text" name="fecha2" class="form-control form-control-sm" name="fecha2" id="fecha2">
          </div>

          <div class="mb-2">
            <label class="form-label">Numero de reloj</label>
            <input type="text" name="fecha2" class="form-control form-control-sm" name="fecha2" id="fecha2">
          </div>

          <div class="mb-1">
            <label class="form-label">Si ud acepta los términos de acuerdo y política anteriores, seleccione la primer
              opción de abajo, Se le aclara que ud. debe de aceptar las políticas para poder acceder a los servicios que
              nos esta solicitando.</label>
          </div>

      </form>
    </div>




    <label for="">Firma</label>
    <div class="signature-pad--body">
      <canvas id="canvasFirmaAuditor"></canvas>
    </div>


    <div class="signature-pad--footer">
      @* <div class="description">Sign above</div> *@

      <div class="signature-pad--actions">
        <div>


        </div>
        <div>

          <button type="button" class="btn btn-primary btn-sm" data-action="clear"><i class="fa fa-eraser"></i>
          </button>
          @* <button type="button" class="button" data-action="change-color">Change color</button> *@
          <button type="button" class="btn btn-primary btn-sm" data-action="undo"> <i class="fa fa-undo"></i>
          </button>

          @* <button type="button" class="button save" data-action="save-png">Save as PNG</button>
          <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
          <button type="button" class="button save" data-action="save-svg">Save as SVG</button> *@
        </div>
      </div>
    </div>
  </div>
  @* <br> *@
  <hr>
  <div class="container-buttons">
    <button type="submit" class="btn btn-success btn-sm" id="btnGuardarFirma">Guardar Firma</button>
  </div>
</div>

</div>

<script src="/lib/signature/signature_pad.umd.js"></script>
<script src="/js/signatureIndex.js"></script>
