@{
    ViewData["Title"] = "Index";
}

<style>
    .modal-dialog.large {
        width: 100%;
        max-width: 1000px;
    }

    .semana-actual {
        margin: 0;
        text-align: center;
        color: var(--ColorPrincipal);
    @*display:flex;*@border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .container-sms {
        @* background-color: red !important; *@
        padding: var(--Padding);
        padding-left: 0;
    }
    .container-sms p {
        margin: 0;
        color:var(--ColorDanger);
        font-weight: bold;
    }
    .conatainer-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @* background-color: red; *@
        @* border: 1px solid var(--ColorSecundario); *@
        padding: var(--Padding);
        border-radius: var(--BorderRadius);
        background-color: rgba(0, 0, 0, .03);
    }
    .contador-k {
        display: flex;
        flex-direction: row;
        gap:var(--Margin);
        align-items: center;
        margin: 0;
    }
    .contador-k .valor-k {
        background-color: var(--ColorDanger);
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        
    }
    .contador-k p {
        margin: 0;
        font-weight: bold;
    }

    .table {
        background-color: rgba(0, 0, 0, .03);
        @* border: 2.5px solid black; *@
        margin-top: var(--Margin);
         border-radius: var(--BorderRadius);
          padding: var(--Padding);
    }
    .container-contador-k {
        display: flex;
        flex-direction: row;
        gap: var(--Margin);
    }
</style>

<div class="card movil">
    <div class="card-header">
        Consultar kaizen
    </div>
    <div class="card-body">


        <form id="formConsultarKaizen">
            <div class="container-form-cv">
                <div class="mb-2">
                    <label class="form-label">Fecha inicio</label>
                    <input type="date" name="Fecha1" class="form-control form-control-sm" id="fechaUno">
                </div>
                <div class="mb-2">
                    <label class="form-label">Fecha fin</label>
                    <input type="date" name="fecha2" class="form-control form-control-sm" name="Fecha2" id="fechaDos">
                </div>


                <div class="mb-2">
                    <label class="form-label">Lider</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="Planta">
                        <option disabled selected>Seleccionar lider</option>
                        <option value="20">ADRIAN CASTORENA</option>
                        <option value="18">CARLOS GUTIERREZ</option>
                        <option value="3">CESAR PADILLA</option>
                        <!-- <option value="13">CHRISTIAN SOLANO</option> -->
                        <option value="12" selected>DAVID SOTO</option>
                        <option value="8">DORIAN MONTES</option>
                        <option value="1">FERNANDO GRIJALVA</option>
                        <option value="14">GRAVIRA ACOSTA</option>
                        <option value="21">GUILLERMO JUAREZ</option>
                        <option value="16">OSBALDO FONG</option>
                        <!-- <option value="7">FRECIA MORENO</option> -->
                        <option value="22">MARIO LOYA</option>
                        <option value="23">JENNIFER CARTAGENA</option>
                        <option value="17">JOSE BARROZO</option>
                        <option value="6">JULIAN ALONSO</option>
                        <option value="11">MARISOL SALAZAR</option>
                        <option value="2">OSWALDO HERNANDEZ</option>
                        <option value="15">RAMON VALDEZ</option>
                        <option value="10">RAMON VAZQUEZ</option>
                        <!-- <option value="9">SALVADOR PEREZ</option> -->
                        <option value="TODOS">TODOS</option>
                    </select>
                </div>
            </div>

            <div class="container-buttons">
                <button type="submit" class="btn btn-success btn-sm">Consultar</button>
            </div>

        </form>





        <div class="container-table-hide" style="display: none;">

        </div>

        <div class="container-table-data" style="display: none;">
            <hr>
            <div class="conatainer-filter">
                <a class="btn btn-primary btn-sm" id="btnFiltrar">&#9881;</a>

                <div class="container-contador-k">
                    <input class="form-control mr-sm-2" type="search" id="searchKaizen" placeholder="Buscar">
                    <div class="contador-k"><p class="valor-k" id="valorKaizen">100</p><p>Kaizen</p></div>
                </div>
            </div>
            @* <hr> *@
            <table class="table">
                <thead>
                    <tr>
                        <th>Planta</th>
                        <th>Id em.</th>
                        <th>Nombre empleado</th>
                        <th>Departamento</th>
                        <th>Nombre kaizen</th>
                        <th>Semana</th>
                        <th></th>

                    </tr>
                </thead>

                <tbody class="items-table">

                </tbody>

            </table>
        </div>

        <div class="container-sms" style="display: none;">
            <hr>
            <p>No se encontraron kaizen en las fechas indicadas.</p>
        </div>



    </div>

</div>

<div style="" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog large">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Documento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <embed id="pdfView" src="" type="application/pdf" width="100%" height="600px">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalF" tabindex="-1" aria-labelledby="exampleModalLabelF" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtrar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formFiltrado">

                    <div class="mb-2">
                        <label class="form-label">Nombre Usuario</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                            name="id_usuario" id="selectNombreUsuario">


                        </select>
                    </div>



                    <hr>

                    <div class="container-buttons">
                        <button type="submit" id="btnGuardarFiltrado" class="btn btn-success btn-sm"
                            data-bs-dismiss="modal" aria-label="Close">Aplicar</button>
                        <input type="reset" id="btnResetFiltrado" class="btn btn-primary btn-sm" value="Restablecer">
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script type="module">

    const host = "http://c7share.sewsus.com.mx:9001/Kaizen/"

    import { $ } from '/js/utils.js'

    let arrayNobreUsuariosKaizen = []
    let arrayUniqueNobreUsuariosKaizen = []


    // Obtener la fecha actual
    var fechaActual = new Date();

    // Formatear la fecha en el formato YYYY-MM-DD
    var fechaFormateadaUno = fechaActual.toISOString().split('T')[0];

    // Establecer el día de la fecha actual en 0 para obtener el último día del mes anterior
    fechaActual.setDate(0);

    // Formatear la fecha en el formato YYYY-MM-DD
    var fechaFormateadaDos = fechaActual.toISOString().split('T')[0];

    // Establecer los valores por defecto en los campos de entrada
    document.getElementById('fechaUno').value = fechaFormateadaDos;
    document.getElementById('fechaDos').value = fechaFormateadaUno;





    $('#btnFiltrar').addEventListener('click', () => new bootstrap.Modal($('#exampleModalF')).show());


    $("#searchKaizen").addEventListener("input", (e)=>{
        console.log("entro")
        const searchTerm = event.target.value.toLowerCase();

        filtrarKaizen(null , searchTerm)

    })

    $('#formFiltrado').addEventListener('submit', (e) => {
        e.preventDefault();
        $(".container-loading").style = "display:flex;";
        var formData = new FormData(e.target);

        @* console.log(formData.get("id_usuario")) *@

    @* $(".container-items").innerHTML = data; *@
            filtrarKaizen(formData.get("id_usuario"))
        $(".container-loading").style = "display:none;";


    })


    $(".table").addEventListener('click', (e) => {
        let tagNameClick = e.target.tagName.toLowerCase();
        let idClick = e.target.id;
        if (idClick == "btnVer" && tagNameClick === "button") {
            var siguienteEl = e.target.nextElementSibling
            var rutaPdf = siguienteEl.innerText
            var embedElement = document.getElementById('pdfView');
            var nuevoSrc = host + rutaPdf.trim();

            embedElement.setAttribute('src', nuevoSrc);

            const modal = new bootstrap.Modal($("#exampleModal"));
            modal.toggle();

        }
    })

    $("#formConsultarKaizen").addEventListener('submit', async (e) => {
        e.preventDefault()

        // MOSTRAR LOADER DE CARGA
        $('.container-loading').style = 'display:flex;'

        // OBTENER DATA DEL FORM QUE SE USARA PARA FILTRAR LA INFORMACIÓN
        const dataForm = new FormData(e.target)

        const datosFilterResponse = await fetch('/Kaizen/Filter', {
            method: 'POST',
            body: dataForm,
        });

        const datosFilter = await datosFilterResponse.text();

      


        

        $('.container-loading').style = 'display:none;'
        // MOSTRAR DATOS EN TABLE HIDE
        $(".container-table-hide").innerHTML = datosFilter;
        const table = document.querySelector('table');
        const rows = table.querySelectorAll('tr');

        const rowsLength = rows.length

     

        if(rowsLength == 1){
            $(".container-sms").style = 'display:block;'
             $('.container-table-data').style = 'display:none'
        }else{
            $('.container-table-data').style = 'display:block'
            $("#valorKaizen").innerText = rowsLength - 1
            $(".container-sms").style = 'display:none;'

        }


        $(".items-table").innerHTML = ""
        for (let i = 1; i < rows.length; i++) {
            const row = rows[i];
            const cells = row.querySelectorAll('td');

            var textoEnlace = cells[11].innerHTML

            arrayNobreUsuariosKaizen.push(cells[3].innerText)


            var inicioHref = textoEnlace.indexOf('href="') + 8;
            var finHref = textoEnlace.indexOf('"', inicioHref);
            var valorHref = textoEnlace.substring(inicioHref, finHref);

            let colorSemanaActualAnho = ''
            if (getNumeroSemanaAnho() == cells[10].innerText) {
                colorSemanaActualAnho = '--ColorSuccess'
            } else {
                colorSemanaActualAnho = '--ColorWarning'
            }



            $(".items-table").innerHTML += `
            <tr>
                <td> ${cells[1].innerText} </td>
                <td> ${cells[2].innerText} </td>
                <td> ${cells[3].innerText} </td>
                <td> ${cells[4].innerText} </td>
                <td> ${cells[5].innerText.toUpperCase()} </td>
                <td> <p class="semana-actual" style="background-color:var(${colorSemanaActualAnho})">${cells[10].innerText}</p> </td>
                <td> 
                <button class="btn btn-secondary btn-sm" id="btnVer">Ver</button> <p style="display:none;"> ${valorHref.trim()} </p> 
                </td>
            </tr>
            `
        }
        arrayUniqueNobreUsuariosKaizen = Array.from(new Set(arrayNobreUsuariosKaizen));
        $("#selectNombreUsuario").innerHTML = ""
        for (let i = 0; i < arrayUniqueNobreUsuariosKaizen.length; i++) {
            let elemento = arrayUniqueNobreUsuariosKaizen[i];
            console.log($("#selectNombreUsuario"))
            // Hacer algo con cada elemento
            $("#selectNombreUsuario").innerHTML += `
              <option value="${elemento}">${elemento}</option>
            `
        }

    })

    // FUNCTION PARA SACAR EL NUMERO DE SEMANA ACTUAL DEL ANHO
    const getNumeroSemanaAnho = () => {
        const now = new Date();
        const startOfYear = new Date(now.getFullYear(), 0, 1);
        const diff = now - startOfYear;
        const oneWeek = 1000 * 60 * 60 * 24 * 7;
        const weekNumber = Math.ceil(diff / oneWeek);

    @* console.log("El número de semana actual es: " + weekNumber); *@
    return weekNumber
    }


    // FUNCTION PARA FILTRAR DATOS POR NOMBRE DE USUARIO

    const filtrarKaizen = (nombreUsuario = null ,descripcionKaizen = null) => {
        const table = document.querySelector('table');
        const rows = table.querySelectorAll('tr');

        //let arrayNobreUsuariosKaizen = []
        //let arrayUniqueNobreUsuariosKaizen = []
        $(".items-table").innerHTML = ""
        let contadorKaizen = 0;
        for (let i = 1; i < rows.length; i++) {
            const row = rows[i];
            const cells = row.querySelectorAll('td');

            //console.log(cells[11].innerHTML)

            var textoEnlace = cells[11].innerHTML

            //arrayNobreUsuariosKaizen.push(cells[3].innerText)


            var inicioHref = textoEnlace.indexOf('href="') + 8;
            var finHref = textoEnlace.indexOf('"', inicioHref);
            var valorHref = textoEnlace.substring(inicioHref, finHref);

            if(cells[5].innerText.toLowerCase().includes(descripcionKaizen) && descripcionKaizen != null){
                contadorKaizen++;

                let colorSemanaActualAnho = ''
                if (getNumeroSemanaAnho() == cells[10].innerText) {
                    colorSemanaActualAnho = '--ColorSuccess'
                } else {
                    colorSemanaActualAnho = '--ColorWarning'
                }



                $(".items-table").innerHTML += `
            <tr>
                <td> ${cells[1].innerText} </td>
                <td> ${cells[2].innerText} </td>
                <td> ${cells[3].innerText} </td>
                <td> ${cells[4].innerText} </td>
                <td> ${cells[5].innerText.toUpperCase()} </td>
                <td> <p class="semana-actual" style="background-color:var(${colorSemanaActualAnho})">${cells[10].innerText}</p> </td>
                <td> 
                <button class="btn btn-secondary btn-sm" id="btnVer">Ver</button> <p style="display:none;"> ${valorHref.trim()} </p> 
                </td>
            </tr>
            `
            }

            if (nombreUsuario == cells[3].innerText && nombreUsuario != null) {
                contadorKaizen++;

                let colorSemanaActualAnho = ''
                if (getNumeroSemanaAnho() == cells[10].innerText) {
                    colorSemanaActualAnho = '--ColorSuccess'
                } else {
                    colorSemanaActualAnho = '--ColorWarning'
                }



                $(".items-table").innerHTML += `
            <tr>
                <td> ${cells[1].innerText} </td>
                <td> ${cells[2].innerText} </td>
                <td> ${cells[3].innerText} </td>
                <td> ${cells[4].innerText} </td>
                <td> ${cells[5].innerText.toUpperCase()} </td>
                <td> <p class="semana-actual" style="background-color:var(${colorSemanaActualAnho})">${cells[10].innerText}</p> </td>
                <td> 
                <button class="btn btn-secondary btn-sm" id="btnVer">Ver</button> <p style="display:none;"> ${valorHref.trim()} </p> 
                </td>
            </tr>
            `

            }




        }

        $("#valorKaizen").innerText = contadorKaizen
    }

</script>