@{
    ViewData["Title"] = "Index";
}

<div class="card movil">
    <div class="card-header">
        Explorar Estándares Documentales
    </div>
    <div class="card-body">


        <form class="form-line-patrol">
            <div class="container-formLP">
                <div class="mb-2">
                    <label class="form-label">Departamento</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="id_departamento">
                        <option disabled selected>Seleccionar departamento</option>
                        <option value="sistemas">Sistemas</option>
                        <option value="mantenimiento">Mantenimiento</option>
                        <option value="ingenieria">Ingeniería</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label">Categoría</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="id_categoria">
                        <option disabled selected>Seleccionar categoría</option>
                        <option value="seguridad">Seguridad</option>
                        <option value="calidad">Calidad</option>
                        <option value="innovación">Innovación</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label">Estándar</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="id_estacion">
                        <option disabled selected>Seleccionar estándar</option>
                        <option value="1">Estándar para liberar espacio de usuario</option>
                        <option value="2">Estándar para configurar HBS</option>
                        <option value="3">Estándar para gestión de memoria ram en software</option>

                        
                    </select>
                </div>
            </div>

            <div class="container-buttons">
                <button type="submit" class="btn btn-success btn-sm">Consultar</button>
                @* <a asp-action="Index" asp-controller="Tarea" class="btn btn-primary btn-sm">Cancelar</a> *@
            </div>

        </form>

        <hr>
        <div id="empdf" style="width: 300px; height:300px; background-color:red;border-radius:10px;">
            <embed style="width: 100%;height:600px" class="pdf-previw" type="application/pdf" src="images/pdf/pago.pdf"> 
        </div>
         
         <embed style="width: 100%;height:600px" class="pdf-previw" type="application/pdf" src="images/pdf/pago.pdf"> 

         <embed style="width: 100%;height:600px" class="pdf-previw" type="application/pdf" src="images/pdf/pago.pdf"> 



    </div>

</div>

<script>
    document.querySelector('#empdf').addEventListener('click', ()=>{
        alert('uuuppp')
    })
</script>
