@{
    ViewData["Title"] = "Home Page";
}

<style>
    .contenedor-componente 
.cardview {
    @* max-width: none; *@
}



.header-table {
    grid-template-columns: 1fr 1fr 1fr;
}
.body-table .contenedor-element-table {
    grid-template-columns: 1fr 1fr 1fr;
}

.body-table .contenedor-element-table div {
    max-width: none;
}
</style>

<section class="contenedor-componente">
    <div class="cardview">


        <div class="cardview-header">

            <button class="l-btn-d">+ REGISTRAR</button>

        </div>

        <div class="cardview-body">
            <div class="header-table">
                <div>Planta</div>
                <div>Linea</div>
                <div>Estacion</div>
            </div>
            <div class="body-table">

                <div class="contenedor-element-table" *ngFor="let vehiculo of vehiculos"
                    routerLink='/dashboard/vehiculos/editar/{{vehiculo.id}}'>
                    <div>mch3</div>
                    <div>18</div>
                    <div>Clips</div>
                </div>
            </div>
        </div>
    </div>
</section>