@model Tarea
@{
    ViewData["Title"] = "GuardarCambios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Registro de patrullaje de líneas
    </div>
    <div class="card-body">


        <form class="form-line-patrol">
            <div class="container-formLP">
                <div class="mb-2">
                    <label class="form-label">Planta</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="id_planta">
                        <option disabled selected>Seleccionar planta</option>
                        <option value="1">mch-3</option>
                        <option value="2">mch-2</option>
                        <option value="3">mch-1</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label">Línea</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="id_linea">
                        <option disabled selected>Seleccionar línea</option>
                        <option value="1">18</option>
                        <option value="2">19</option>
                        <option value="3">20</option>
                    </select>
                </div>


                <div class="mb-2">
                    <label class="form-label">Imagen</label>
                    <input style="display: none;" class="form-control form-control-sm" id="formFileSm" type="file"
                        name="imagen" accept="image/*">
                    <button type="button" class="form-control form-control-sm" id="btnChangeInputFileImage"></button>
                    <a href="#" id="linkInfoImagenSelected" style="display: none;"
                        class="btn-link text-success text-decoration-underline small" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"></a>
                </div>
                <div class="mb-2">
                    <label class="form-label">Estación</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="id_estacion">
                        <option disabled selected>Seleccionar estación</option>
                        <option value="1">clips</option>
                        <option value="2">Prueba electrica</option>
                        <option value="3">Vision</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label">Comentario</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Ingrese comentarios" id="floatingTextarea2"
                            style="height: 100px" name="comentario"></textarea>
                        <label for="floatingTextarea2">Comentario u observación</label>
                    </div>
                </div>
            </div>

            <div class="container-buttons">
                <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                <a asp-action="Index" asp-controller="Tarea" class="btn btn-primary btn-sm">Salir sin guardar</a>
            </div>

        </form>




    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen seleccionada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="imagenSeleccionada" src="#" alt="Imagen seleccionada" style="max-width:100%;">
            </div>
        </div>
    </div>
</div>




<script type="module">
    const $ = (selector) => document.querySelector(selector);

    // SIMULAR CLICK EN BTN SELECT IMAGE
    $('#btnChangeInputFileImage').addEventListener('click', () => {
        $('#formFileSm').click()
    })

    // EVENTO SUBMIT PARA FORM LINE PATROL (PROCESO DE DATOS)
    $('.form-line-patrol').addEventListener('submit', async (e) => {
        e.preventDefault()

        var formData = new FormData(e.target);

        try {
            const response = await fetch('/Tarea/GuardarCambios', {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                // Estado de respuesta 200 (OK)
                const data = await response.text();
                console.log('Datos guardados:', data);
                // Hacer algo con la respuesta del servidor si es necesario
            } else {
                // Manejar otros estados de respuesta (por ejemplo, 404, 500, etc.)
                console.error('Error en la solicitud:', response.status);
                // Si deseas obtener más información sobre el error, puedes acceder a response.statusText
            }
        } catch (error) {
            // Error de red u otro tipo de error
            console.error('Error:', error);
        }

    })

    // Agregar un event listener para el cambio
    $('#formFileSm').addEventListener("change", (e) => {
        // Obtener el archivo seleccionado
        const file = event.target.files[0];
        $('#linkInfoImagenSelected').style.display = 'none';
        if (file) {
            // Habilitar descripcion de imagen
            $('#linkInfoImagenSelected').style.display = 'flex';
            // Crear un objeto URL para la imagen
            const imageURL = URL.createObjectURL(file);
            // Mostrar la imagen en el modal
            $('#imagenSeleccionada').src = imageURL;
            // Mostrar el modal
            const modal = new bootstrap.Modal($('#exampleModal'));
            modal.show();
        }
    });




</script>