@model Tarea
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Guardar
    </div>
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Tarea" method="post">

            @* <input type="hidden" asp-for="IdProducto" /> *@

            <div class="mb-2">
                <label class="form-label">Id user</label>
                <input type="text" class="form-control form-control-sm" asp-for="userId" />
            </div>
            <div class="mb-2">
                <label class="form-label">Id</label>
                <input type="text" class="form-control form-control-sm" asp-for="id" />
            </div>
            <div class="mb-2">
                <label class="form-label">Title</label>
                <input type="text" class="form-control form-control-sm" asp-for="title"/>
            </div>
            <div class="mb-2">
                <label class="form-label">Descripcion</label>
                <input type="text" class="form-control form-control-sm" asp-for="body"/>
            </div>
           

            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <a asp-action="Index" asp-controller="Tarea" class="btn btn-warning btn-sm">Volver a lista</a>
        </form>


        
       
    </div>

</div>