.right.activo {
    color: var(--ColorDanger) !important;
  }

  .right.finalizado {
    color: var(--ColorSuccess) !important;
  }

  .table {
  }

  p {
    margin: 0 !important;
  }
  .table tbody tr {
    font-size: var(--SizeDescripcion);
  }

  .table thead tr{
    color: var(--ColorPrincipal);
    background-color: rgba(0, 0, 0, .03);
    background-color:#0d6efd;
    font-size: .8rem;
  }

  .table {
    color: var(--ColorExtra);
    background-color: rgba(0, 0, 0, .03);
    margin-top: var(--Margin);
    border-radius: var(--BorderRadius);
    padding: var(--Padding);

    
   

}
.table>tbody {
    vertical-align:middle !important;
}

.items-table {
  
}