html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/** ESTILOS PARA FORM REGISTRO DE LINE PATROL*/

.form-line-patrol .container-formLP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 600px) {
      .form-line-patrol  .container-formLP {
        display: flex;
        flex-direction: column;
      }
      .form-line-patrol .container-buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  }
/** FIN ESTILOS PARA FORM REGISTRO DE LINE PATROL*/
