:root{
  /*COLOR PRINCIPAL rgb(75, 175, 79)*/
  --ColorPrincipal: rgb(255, 255, 255);
  
  --ColorSecundario:rgb(23, 101, 190) ;
  --ColorFondo:rgb(242, 242, 242);
  
  --ColorExtra:rgb(29, 29, 29);
  
  --ColorSuccess:#00C951;
  --ColorDanger:#FF4A56;
  --ColorWarning:#F57C00;

  /*COLOR WHITE PARA FILTER EN UNA IMAGEN SVG*/
  --ColorImgSvg:invert(100%) sepia(0%) saturate(7491%) hue-rotate(217deg) brightness(106%) contrast(101%);

  

  --ColorTitulo:rgb(33, 33, 33);
  --ColorDescripcion: #827582;
  /*rgb(206,206.206);*/

  --ColorTextoPrincipal:#666666;
  --ColorTextoSecundario:#5A5A5A;

  --Padding:10px;
  --Margin:10px;
  --SpaseLetter:0.5px;
  /*--Border: 1.5px;*/
  --Border:1.5px;
  --BorderRadius: 3px;

  --SizeTitulo:1.13rem;
  --SizeDescripcion:0.75rem;

  --FontSize:16px;


}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin-top: 60px;
  
}

.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000 !important;

}

/** ESTILOS PARA FORM REGISTRO DE LINE PATROL*/

.form-line-patrol .container-formLP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/** ESTILOS PARA INPUT FILE IMAGE */
#btnChangeInputFileImage {
  text-align: left;
}

#btnChangeInputFileImage::before {
  content: "Adjuntar imagen ";
}

#btnChangeInputFileImage::after {
  content: "\1F4C2";
}

/** FIN ESTILOS PARA INPUT FILE IMAGE */

/** ESTILOS PARA LINK INFO IMAGE FILE*/
#linkInfoImagenSelected {
  flex-direction: row;
  gap: 5px;
}
#linkInfoImagenSelected::before {
  content: "Imagen seleccionada";
}
#linkInfoImagenSelected::after {
  content: "\2713";
}

/** FIN ESTILOS PARA LINK INFO IMAGE FILE*/

/** FIN ESTILOS PARA FORM REGISTRO DE LINE PATROL*/

.card.item {
  width: 100%;
  margin-bottom: 10px;
}

.card.item .card-img-top {
  aspect-ratio: 16/9;
  object-fit:cover;
}

.card.item .card-body p {
  padding: 0;
  margin: 0;
}
.card.item .card-body .card-text {
  color:#555555;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.card.item .card-body .card-text:hover {
  display: flex;
}
/* .card.item .card-body .card-text.show{
  display: flex;
} */
.card.item .card-body .container-description{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card.item .card-body .container-description p.right {
  color:#555555;
  text-align: right;
}

.card-text-small {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.card-text-small.show {
  display: flex;
}

.container-card-item {
  display: none;
}

#formFiltrado .grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
/** RESPONSIVE DESIGN */
@media (max-width: 600px) {
  .form-line-patrol .container-formLP {
    display: flex;
    flex-direction: column;
  }
  .form-line-patrol .container-buttons ,#formFiltrado .container-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #btnChangeInputFileImage::before {
    content: "Tomar imagen ";
  }
  #btnChangeInputFileImage::after {
    content: "\1F4F7";
  }
  #linkInfoImagenSelected::before {
    content: "Imagen capturada";
  }
  .container-card-item {
    display: block;
  }
  .table {
    display: none;
  }

  
  #btnRegistrarLP {
    width: 100%;
  }

  #btnGuardarFiltrado , #btnResetFiltrado{
    width: 100%;
  }


  .card.movil{
    border: 0;
  }

  .container-buttons-listado{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .container-button-liberar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* ! TABLE KAIZEN MOVIL*/
  .table.show {
   
    display: flex;

    flex-direction: column;
    gap: var(--Margin);
  }

  .table.show .header-table {
    display: none !important;
  }
  .items-table {
    display: flex;
    flex-direction: column;
    gap: var(--Margin);
}
.items-table tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom:3px solid var(--ColorSecundario);
}

.items-table tr td {
    display: flex;
   flex-direction: row;    
   gap: var(--Margin);
   border: 0;
   align-items: center;
  
}

.items-table tr td:nth-last-of-type(3) ,.items-table tr td:nth-last-of-type(5) {
     grid-column: span 2;
}


.items-table tr td:nth-last-of-type(1)::before{
    content: "PDF: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
.items-table tr td:nth-last-of-type(2)::before{
    content: "SEMANA: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
.items-table tr td:nth-last-of-type(3)::before{
    content: "DESCRIPCION: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
.items-table tr td:nth-last-of-type(4)::before{
    content: "DEPARTAMENTO: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
.items-table tr td:nth-last-of-type(5)::before{
    content: "USUARIO: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
.items-table tr td:nth-last-of-type(6)::before{
    content: "RELOJ: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
.items-table tr td:nth-last-of-type(7)::before{
    content: "PLANTA: ";
    color: var(--ColorSecundario);
    font-weight: bold;
    
}
}

/** LOADER DE CARGA*/
/* ! LOADING TYPE YOUTUBE */

.container-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  flex-direction: column;
  border-radius: 7px;
  cursor:no-drop;
  z-index: 1056;
  
}

.loader-container {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  padding-right: 20px;
}

.loader-line {
  height: 100%;
  background-color: green;
  animation-name: loader;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes loader {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.conatiner-loading-spinner{
  padding: 10px;
  background-color: white;
  margin: auto;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  /*border-radius: 50%;*/
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid green;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

