@{
  ViewData["Title"] = "Index";
}

@section Styles {

  <link href="/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

  @*ESTILOS DE BOTONES*@
  <link href="/lib/datatables/css/buttons.dataTables.min.css" rel="stylesheet" />


  @*filter columns*@
  <link href="/lib/datatables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/gestionPlantasIndex.css">
}

<!-- CARD VIEW CON TABLE GESTION DE EQUIPOS POR PLANTA -->
<div class="card movil">
  <div class="card-header">Gestión de equipos en planta</div>
  <div class="card-body">
    <div class="container-buttons-listado">
      <button data-tippy-content="Opciones de registro disponibles" class="btn btn-primary btn-sm"
        id="btnRegistrarOpciones">Registrar</button>

        <button data-tippy-content="Soporte de hoy" class="btn btn-primary btn-sm"
        id="btnSoportesHoy">Soportes</button>
        
      @* <a class="btn btn-primary btn-sm" id="btnFiltrar">&#9881;</a> *@
    </div>
    <hr />
    <div class="container-items">

    </div>
  </div>
</div>



<!-- MODAL LISTADO SOPORTES HOY-->
<div class="modal fade" id="exampleModalSoportesHoy" tabindex="-1"
  aria-labelledby="exampleModalRegistrarEquipo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listado de soportes hoy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-soportes">

        </div>
        

      </div>
    </div>
  </div>
</div>





<!-- MODAL OPTCIONES DE REGISTRO-->
<div class="modal fade" id="exampleModalOpcionesRegistro" tabindex="-1" aria-labelledby="exampleModalOpcionesRegistro"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Opciones de registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        @* <div class="mb-2">
        <button class="btn btn-primary" id="btnRegistrarEquipoComputo">Equipo computo</button>
        <button class="btn btn-primary">Linea</button>
        <button class="btn btn-primary">Estacion</button>
        <button class="btn btn-primary">Planta</button>

        </div> *@

        <div class="container options-grid-container">
          <div class="grid-container">
            <div class="card card-options" id="btnRegistrarEquipoComputo">
              <div class="icon">
                <i class="fas fa-desktop"></i>
              </div>
              <h3>Equipo de Cómputo</h3>
            </div>

            <div class="card card-options" id="btnRegistrarPlanta">
              <div class="icon">
                <i class="fas fa-building"></i>
              </div>
              <h3>Registrar Planta</h3>
            </div>

            <div class="card card-options" id="btnRegistrarLinea">
              <div class="icon">
                <i class="fas fa-project-diagram"></i>
              </div>
              <h3>Registrar Línea</h3>
            </div>
            <div class="card card-options" id="btnRegistrarEstacion">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <h3>Registrar Estación</h3>
            </div>


            <div class="card card-options" id="btnRegistrarSoftwareEquipoComputo">
              <div class="icon">
                <i class="fas fa-desktop"></i>
              </div>
              <h3>Registrar software</h3>
            </div>

            <div class="card card-options" id="btnRegistrarImpresoraEquipoComputo">
              <div class="icon">
                <i class="fas fa-printer"></i>
              </div>
              <h3>Registrar impresora</h3>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- MODAL REGISTRO DE EQUIPO-->
<div class="modal fade" id="exampleModalRegistrarEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalRegistrarEquipo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar equipo de computo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarEquipoComputo">
          <div class="mb-2">
            <label for="">Hostname</label>
            <input type="text" class="form-control form-control-sm" name="hostname">
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- MODAL REGISTRAR IMPRESORA -->
<div class="modal fade" id="exampleModalRegistrarImpresoraEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalRegistrarEquipo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar equipo de computo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarImpresoraEquipoComputo">
           <div class="mb-2">
            <label for="">Nombre</label>
            <input type="text" class="form-control form-control-sm" name="nombre">
          </div> <div class="mb-2">
            <label for="">Modelo</label>
            <input type="text" class="form-control form-control-sm" name="modelo">
          </div>
          <div class="mb-2">
            <label for="">Hostname</label>
            <input type="text" class="form-control form-control-sm" name="hostname">
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL REGISTRAR SOFTWARE -->
<div class="modal fade" id="exampleModalRegistrarSoftwareEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalRegistrarSoftwareEquipoComputo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar software</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarSoftwareEquipoComputo">
          <div class="mb-2">
            <label for="">Software</label>
            <input type="text" class="form-control form-control-sm" name="nombre">
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL REGISTRO DE PLANTA-->
<div class="modal fade" id="exampleModalRegistrarPlanta" tabindex="-1" aria-labelledby="exampleModalRegistrarPlanta"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar planta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarPlanta">
          <div class="mb-2">
            <label for="">Nombre</label>
            <input type="text" class="form-control form-control-sm" name="nombre">
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL REGISTRO DE ESTACION-->
<div class="modal fade" id="exampleModalRegistrarEstacion" tabindex="-1" aria-labelledby="exampleModalRegistrarEstacion"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar estacion/ubicacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarEstacion">
          <div class="mb-2">
            <label for="">Nombre</label>
            <input type="text" class="form-control form-control-sm" name="nombre">
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL ACCIONES DE EQUIPO COMPUTO-->
<div class="modal fade" id="exampleModalAccionesRegistro" tabindex="-1" aria-labelledby="exampleModalAccionesRegistro"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalAccionesLabel">Acciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="test-conection">
          <p>Conections susessfull</p>

        </div>
        <div class="container options-grid-container">

          <div class="grid-container">
            <div class="card card-options" id="btnApagarEquipoComputo">
              <div class="icon">
                <i class="fas fa-power-off"></i>
              </div>
              <h3>Apagar Equipo</h3>
            </div>
            <div class="card card-options" id="btnReiniciarEquipo">
              <div class="icon">
                <i class="fas fa-redo"></i>
              </div>
              <h3>Reiniciar Equipo</h3>
            </div>
            <div class="card card-options" id="btnCerrarApp">
              <div class="icon">
                @* <i class="fas fa-power-off"></i> *@
                <i class="fas fa-times"></i>
              </div>
              <h3>Cerrar Software</h3>
            </div>

            <div class="card card-options" id="btnAgregarSoftware">
              <div class="icon">
                @* <i class="fas fa-laptop-code"></i> *@
                <i class="fas fa-check-circle"></i>
              </div>
              <h3>Asignar software</h3>
            </div>
            <div class="card card-options" id="btnAgregarEstacionUbicacion">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <h3>Asignar estación/ubicación</h3>
            </div>

            <div class="card card-options" id="btnInformacionEquipoComputo">
              <div class="icon">
                @* <i class="fas fa-laptop-code"></i> *@
                <i class="fas fa-info-circle"></i>
              </div>
              <h3>Información de pc</h3>
            </div>

            <div class="card card-options" id="btnUptimeEquipoComputo">
              <div class="icon">
                @* <i class="fas fa-laptop-code"></i> *@
                <i class="fas fa-clock"></i>
              </div>
              <h3>Uptime</h3>
            </div>

             <div class="card card-options" id="btnDesinstalarSoftwareInstaladoEquipoComputo">
              <div class="icon">
                @* <i class="fas fa-laptop-code"></i> *@
                <i class="fas fa-eraser"></i>
              </div>
              <h3>Desinstalar Software</h3>
              <p class="bg-danger sms-info">Proceso lento</p>
            </div>

             <div class="card card-options" id="btnHistorialActualizacionEquipoComputo">
              <div class="icon">
                <i class="fas fa-laptop-code"></i>
                @* <i class="fas fa-eraser"></i> *@
              </div>
              <h3>Historial de actualizaciones</h3>
             
            </div>
            
            
             <div class="card card-options" id="btnAlmacenamientoEquipoComputo">
              <div class="icon">
                <i class="fas fa-hdd"></i>
              </div>
              <h3>Almacenamiento</h3>
            </div>
            <div class="card card-options" id="btnMemoriaFisicaEquipoComputo">
              <div class="icon">
                <i class="fas fa-memory"></i>
              </div>
              <h3>Memoria física</h3>
            </div>
            <div class="card card-options" id="btnSistemaOperativoEquipoComputo">
              <div class="icon">
                <i class="fas fa-memory"></i>
              </div>
              <h3>Sistema operativo</h3>
            </div>

             <div class="card card-options" id="btnGetServicesEquipoComputo">
              <div class="icon">
               <i class="fas fa-cogs"></i>
              </div>
              <h3>Servicios</h3>
            </div>

            <div class="card card-options" id="btnGetProcessEquipoComputo">
              <div class="icon">
               <i class="fas fa-cogs"></i>
              </div>
              <h3>Procesos</h3>
            </div>

             <div class="card card-options" id="btnDeleteTempEquipoComputo">
              <div class="icon">
               <i class="fas fa-trash"></i>
              </div>
              <h3>Delete temp</h3>
            </div>

            <div class="card card-options" id="btnGetUsuariosEquipoComputo">
              <div class="icon">
               <i class="fas fa-cogs"></i>
              </div>
              <h3>Usuarios</h3>
            
            
            
            
            <div class="card card-options" id="btnAsignarImpresoraEquipoComputo">
              <div class="icon">
                <i class="fas fa-laptop-code"></i>
                @* <i class="fas fa-eraser"></i> *@
              </div>
              <h3>Asignar impresora</h3>
             
            </div>

            <div class="card card-options" id="btnRegistrarSoporteEquipoComputo">
              <div class="icon">
                <i class="fas fa-laptop-code"></i>
                @* <i class="fas fa-eraser"></i> *@
              </div>
              <h3>Registrar Soporte</h3>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- MODAL CERRAR SOFTWARE-->
<div class="modal fade" id="exampleModalCerrarSoftware" tabindex="-1" aria-labelledby="exampleModalCerrarSoftware"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cerra software</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formCerrarSoftware">
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            @* <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="selectSoftware"
            name="app">
            </select> *@

            <div class="custom-select">
              <div class="selected-option" id="selectedOption">
                Selecciona una opción
                <i class="fas fa-check-circle" style="display: none;color:var(--ColorSuccess)"></i>
              </div>
              <div class="options" id="options">
              </div>

              <input type="hidden" name="app" id="customSelect" />
            </div>
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Cerrar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL AGREGAR SOFTWARE A EQUIPO DE COMPUTO -->
<div class="modal fade" id="exampleModalAgregarSoftwareEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalAgregarSoftwareEquipoComputo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar software</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formAgregarSoftwareEquipoComputo">
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
              id="selectSoftwareEquipoComputo" name="idSoftware">
            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique el software que desea
              agregar.</label>
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL ASIGNAR ESTACIÓN/UBICACIÓN EQUIPO COMPUTO -->
<div class="modal fade" id="exampleModalAgregarEstacionEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalAgregarEstacionEquipoComputo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar estacion/ubicacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formAgregarEstacionEquipoComputo">
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
              id="selectEstacionEquipoComputo" name="idEstacion">
            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique la estacion a la que lo desea
              agregar.</label>
          </div>
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
              id="selectLineaEquipoComputo" name="idLinea">
            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique la linea a donde
              pertenece.</label>
          </div>


          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Asignar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL ASIGNAR ESTACIÓN/UBICACIÓN EQUIPO COMPUTO -->
<div class="modal fade" id="exampleModalRegistrarLinea" tabindex="-1" aria-labelledby="exampleModalRegistrarLinea"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar linea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarLinea">
          <div class="mb-2">
            <label for="">Nombre</label>
            <input type="text" class="form-control form-control-sm" name="nombre">
          </div>
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
              id="selectPlantaEquipoComputo" name="idPlanta">
            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique la planta a la que
              pertenece.</label>
          </div>



          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- MODAL LISTAR SOFTWARE INSTALADO EQUIPO COMPUTO -->
<div class="modal fade" id="exampleModalDesinstalarSoftwareInstaladoEquipoComputo" tabindex="-1" aria-labelledby="exampleModalDesinstalarSoftwareInstaladoEquipoComputo"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Desinstalar software</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formDesinstalarSoftwareEquipoComputo">
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
            id="selectListadoSoftwareInstaladoEquipoComputo" name="productName">
            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique el software que desea desinstalar.</label>
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Desinstalar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- MODAL INFORMACIÓN DE PC -->
<div class="modal fade" id="exampleModalInformacionEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalInformacionEquipoComputo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de pc</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="respuesta-info-pc">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- BUTTON FLOTANTE PARA INDICAR EN LA PLANTA QUE SE ENCUENTRA REALIZANDO EL RECORRIDO -->
<div class="loal-container-button-flotante-planta">
  @* <button class="loal-button-flotante-planta" data-toggle="modal" data-target="#exampleModalPlantaRecorrido"> Planta
  mochis 3</button> *@
  <p>Ubicación</p>
  <button class="loal-button-flotante-planta" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModalPlantaRecorrido">
    Desconocida
  </button>
</div>

<!-- MODAL VERIFICAR UBICACIÓN DE RECORRIDO-->
<div class="modal fade" id="exampleModalPlantaRecorrido" tabindex="-1" aria-labelledby="exampleModalPlantaRecorrido"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿En qué planta estás ubicado?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-2">
          @* <label class="form-label">Planta</label> *@
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="selectPlanta">
            <option value="" disabled selected>Seleccione planta</option>
            <option value="1">MOCHIS 1</option>
            <option value="2">MOCHIS 2</option>
            <option value="3">MOCHIS 3</option>
            <option value="4">MOCHIS MAIN</option>
            <option value="13">SANBLAS</option>

             @* <option value="sanblas">SAN BLAS</option> *@
          </select>
          <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique la planta donde desea gestionar equipos de computo.</label>
        </div>
        <div class="container-buttons">
          <button type="submit" id="BtnconfirmarPlanta" class="btn btn-success btn-sm">Confirmar planta</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL ASIGNAR IMPRESORA EQUIPO COMPUTO -->

<div class="modal fade" id="exampleModalAsignarImpresoraEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalAgregarSoftwareEquipoComputo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar software</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formAsignarImpresoraEquipoComputo">
          <div class="mb-2">
            @* <label class="form-label">Planta</label> *@
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
              id="selectImpresoraEquipoComputo" name="idImpresora">
            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique la impresora que desea
              agregar.</label>
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- MODAL REGISTRAR SOPORTE -->
<div class="modal fade" id="exampleModalRegistrarSoporteEquipoComputo" tabindex="-1"
  aria-labelledby="exampleModalAgregarSoftwareEquipoComputo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar soporte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="formRegistrarSoporteEquipoComputo">
           <div class="mb-2">
            <label for="">Descripción</label>
            <input type="text" class="form-control form-control-sm" name="descripcion">
          </div>
          <div class="mb-2">
            <label for="">Solución (Opcional)</label>
            <input type="text" class="form-control form-control-sm" name="solucion">
          </div>
          <div class="mb-2">
            <label for="">Responsable </label>
            <input type="text" class="form-control form-control-sm" name="responsable">
          </div>
          <div class="mb-2">
            <label class="form-label">Estado</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
              id="selectSoftwareEquipoComputo" name="estado">
              <option value="Pendiente">Pendiente</option>
              <option value="En proceso">En proceso</option>
              <option value="Resuelto">Resuelto</option>

            </select>
            <label style="color:var(--ColorSecundario);font-size: .8rem;" for="">Indique el estado donde se encuentra el soporte.</label>
          </div>

          <div class="container-buttons">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


@section Scripts {

  <script src="/lib/datatables/js/jquery.dataTables.min.js"></script>

  @*SCRIPTS DE BOTONES*@
  <script src="/lib/datatables/js/dataTables.buttons.min.js"></script>

  @*excel*@
  <script src="/lib/datatables/js/jszip.min.js"></script>
  <script src="/lib/datatables/js/buttons.html5.min.js"></script>
















































  @*pdf*@
  <script src="/lib/datatables/js/pdfmake.min.js"></script>
  <script src="/lib/datatables/js/vfs_fonts.js"></script>

  @*imprimir*@
  <script src="/lib/datatables/js/buttons.print.min.js"></script>



  @*filter columns*@
  <script src="/lib/datatables/js/dataTables.fixedHeader.min.js"></script>

  <!-- Development -->
  @* <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script> *@
  <script src="/lib/tippy/popper.min.js"></script>
  <script src="/lib/tippy/tippy-bundle.umd.js"></script>


  <script src="~/js/GestionPlantasMainIndex.js" type="module"></script>
}
